.u-section-1 .u-sheet-1 {
  min-height: 412px;
}

.u-section-1 .u-image-1 {
  width: 357px;
}.u-section-2 .u-sheet-1 {
  min-height: 266px;
}

.u-section-2 .u-list-1 {
  width: 835px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 266px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-1 {
  margin: 11px auto 0 163px;
}

.u-section-2 .u-btn-1 {
  margin: -39px 273px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  margin: 11px auto 0 163px;
}

.u-section-2 .u-btn-2 {
  margin: -39px 273px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  margin: 11px auto 0 163px;
}

.u-section-2 .u-btn-3 {
  margin: -39px 273px 0 auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 158px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 158px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 80px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -42px;
    margin-right: 42px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 80px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -42px;
    margin-right: 42px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 80px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -42px;
    margin-right: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 8px 9px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 16px;
    margin-left: 36px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -38px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 8px 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: 36px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -38px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 8px 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 16px;
    margin-left: 36px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -38px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 285px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 226px;
  height: auto;
  margin: 19px auto 40px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 30px 25px;
}

.u-section-3 .u-text-1 {
  margin: 1px auto 0 10px;
}

.u-section-3 .u-text-2 {
  margin: -4px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-bottom: 30px;
  }
}