.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-product-1 {
  margin-top: 142px;
  margin-bottom: 0;
  height: auto;
  min-height: 555px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0 30px;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-text-1 {
  margin: 25px 25px 0 603px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 402px;
  margin: -18px auto 0 30px;
}

.u-section-1 .u-product-price-1 {
  margin: -366px auto 0 609px;
}

.u-section-1 .u-text-2 {
  margin: 45px 19px 0 609px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px 45px 0 auto;
  padding: 10px 43px 10px 42px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 33px 45px 20px auto;
  padding: 10px 43px 10px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-right: 0;
    margin-left: 515px;
  }

  .u-section-1 .u-image-1 {
    width: 407px;
    height: 284px;
    margin-top: -40px;
    margin-left: 36px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -232px;
    margin-right: 321px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-right: 0;
    margin-left: 515px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-right: 52px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 30px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-product-1 {
    margin-top: 6px;
    margin-bottom: 39px;
    min-height: 573px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 159px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -2px;
    margin-left: 423px;
  }

  .u-section-1 .u-image-1 {
    width: 380px;
    height: 229px;
    margin-top: -38px;
    margin-left: 10px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -175px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1px;
    margin-left: 423px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-right: 6px;
    padding-right: 17px;
    padding-left: 15px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 190px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -34px;
    margin-right: 32px;
    margin-left: 309px;
  }

  .u-section-1 .u-image-1 {
    width: 283px;
    height: 186px;
    margin-top: 26px;
    margin-left: 12px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -212px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 344px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 111px;
    margin-right: 32px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -49px;
    margin-right: auto;
    margin-left: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 30px;
    min-height: 685px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 188px;
    padding: 9px 7px 11px 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -49px;
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-image-1 {
    width: 254px;
    height: 176px;
    margin-top: 28px;
    margin-left: 41px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 20px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-right: 20px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 8px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: auto;
    padding: 9px 6px 11px;
  }
}