{% extends "TipoProducto.html" %}
{% load static %}

{% block productos %}
<!--Sección de audio-->
<div class="u-expanded-width u-list u-list-3">
    <div class="u-repeater u-repeater-3">
      {% for audio in lista_audios %}
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-7">
          <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="2000" data-image-height="1333" src="{% static '' %}images/{{ audio.imagen }}">
          <h3 class="u-text u-text-default u-text-13">{{ audio.nombre }}</h3>
          <p class="u-text u-text-14">{{ audio.precio }} €</p>
          <a href="../registrar" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-7">Saber más</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
