{% extends "base.html" %}
{% load static %}

{%block title%} Información de Cliente {% endblock %}

{%block style%} <link rel="stylesheet" href="{% static 'css/Inicio.css' %}" media="screen"> {%endblock%}
   

{%block content%}
<section class="u-clearfix u-grey-15 u-section-1" id="sec-7702">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1></h1>
      <div class="u-form u-form-1">
        {% csrf_token %}
        <h2>Bienvenid@ {{cliente.nombre}}!</h2>
        <h3>Tus datos:</h3>
        <ul>
          <li><b>Nombre:</b> {{cliente.nombre}}</li>
          <li><b>Nombre de usuario:</b> {{cliente.usuario}}</li>
          <li><b>Contraseña:</b> {{cliente.contrasenya}}</li>
          <li><b>Email:</b> {{cliente.email}}</li>
        </ul>
        <a href="http://127.0.0.1:8000/tienda/inicio/"><input type="submit" value="Ir al Inicio"/></a>
      </div>
    </div>
  </section>
{%endblock%}