{% extends "BaseDetalle.html" %}
{% load static %}

{% block title %} {{telefono.nombre}} {% endblock %}


{%block nomProducto%} 
<p>{{telefono.nombre}}</p>
{%endblock%}

{%block precio%} {{telefono.precio}} {%endblock%}

{%block descripcion%}

<b>Descripción del producto: </b></p>
<ul>
    <li>{{telefono.descripcion}}</li>
    <li> Procesador: {{telefono.acabado}} </li>
    <li>Microfono: {{ordenador.capacidad}}</li>
    <li>Memoria: {{ordenador.pantalla}}</li>
</ul>

{%endblock%}

{%block img%}
<img class="u-image u-image-default u-image-1" src="{% static '' %}images/{{ telefono.imagen }}" alt="" data-image-width="1600" data-image-height="841"><!--product_button--><!--options_json--><!--{"clickType":"go-to-page","content":"Añadir al carrito"}--><!--/options_json-->
{%endblock%}