{% extends "base.html" %}
{% load static %}

{%block title%} Información de Cliente {% endblock %}

{%block style%} <link rel="stylesheet" href="{% static 'css/Inicio.css' %}" media="screen"> {%endblock%}
   

{%block content%}
<section class="u-clearfix u-grey-15 u-section-1" id="sec-7702">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-default u-text-1">Registrarse<br>
      </h1>
      <div class="u-form u-form-1">
        {% csrf_token %}
        <h2>Bienvenid@ {{cliente.nombre}}!</h2>
        <h4>Nombre: {{cliente.nombre}}</h3>
        <h4>Nombre de usuario: {{cliente.usuario}}</h3>
        <h4>Email: {{cliente.email}}</h3>
        <input type="submit" value="Volver al inicio"/>
      </div>
    </div>
  </section>
{%endblock%}