{% extends "BaseDetalle.html" %}
{% load static %}

{% block title %} {{ordenador.nombre}} {% endblock %}


{%block nomProducto%} 
<p>{{ordenador.nombre}}</p>
{%endblock%}

{%block precio%} {{ordenador.precio}} {%endblock%}

{%block descripcion%}

<b>Descripción del producto: </b></p>
<ul>
    <li>{{ordenador.descripcion}}</li>
    <li> Procesador: {{ordenador.proces}} </li>
    <li>Sistema de audio: {{ordenador.sistemaDeAudio}}</li>
    <li>Memoria: {{ordenador.memoria}} GB</li>
</ul>

{%endblock%}

{%block img%}
<img class="u-image u-image-default u-image-1" src="{% static '' %}images/{{ ordenador.imagen }}" alt="" data-image-width="1600" data-image-height="841"><!--product_button--><!--options_json--><!--{"clickType":"go-to-page","content":"Añadir al carrito"}--><!--/options_json-->
{%endblock%}