{% extends "base.html" %}
{% load static %}

{% block title %} ERROR 404 {% endblock %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/ErroProducto.css' %}" media="screen"> 
{% endblock %}


{%block content%}
    <section class="u-clearfix u-section-1" id="sec-0afa">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Lo sentimos este producto no existe!</h1>
        <a href="https://nicepage.com/k/clothing-store-website-templates" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">Volver a inicio</a>
      </div>
    </section>
    
{%endblock%}