{% extends "base.html" %}
{% load static %}
{% load i18n %}

{%block title%} Inicio {% endblock %}

{%block style%} <link rel="stylesheet" href="{% static 'css/Inicio.css' %}" media="screen"> {%endblock%}

{%block content%}
  <body class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-section-1" id="sec-dbc4">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-image u-list-item u-repeater-item u-image-1" data-image-width="1600" data-image-height="841">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <a href="http://127.0.0.1:8000/ordenadores" class="u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-1">{% trans 'Ordenadores' %}</a>
              </div>
            </div>
            <div class="u-container-style u-image u-list-item u-repeater-item u-image-2" data-image-width="1600" data-image-height="841">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <a href="http://127.0.0.1:8000/telefonos" class="u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-2">{% trans 'Teléfonos' %}</a>
              </div>
            </div>
            <div class="u-container-style u-image u-list-item u-repeater-item u-image-3" data-image-width="1600" data-image-height="841">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <a href="http://127.0.0.1:8000/audios" class="u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-3">{% trans 'Audios' %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%endblock%}
    
  
</body></html>