{% extends "TipoProducto.html" %}
{% load static %}

{% block title %} Ordenadores {% endblock %}
{% block nomProductos %} <p> Ordenadores </p>{% endblock %}

{% block productos %}
<!--Sección de ordenadores-->
<div class="u-expanded-width u-list u-list-1">
    <div class="u-repeater u-repeater-1">
      {% for ordenador in lista_ordenadores %}
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-1">
          <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src="{% static '' %}images/{{ ordenador.imagen }}">
          <h3 class="u-text u-text-default u-text-1">{{ ordenador.nombre }}</h3>
          <p class="u-text u-text-2">{{ ordenador.precio }} €</p>
          <a href="{{ordenador.pk}}" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-1">Saber más</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}