{% extends "base.html" %}
{% load static %}

{% block title %} Inicio de sesión {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/TipoProducto.css' %}" media="screen"> {% endblock %}


{% block content %}
  <body class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-grey-15 u-section-1" id="sec-7702">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Registrarse<br>
        </h1>
        <div class="u-form u-form-1">
          <form action="{% url 'post_registro_form' %}" method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Registrarse" id="registrar"/>
          </form>
        </div>
      </div>
    </section>
    <script src="{%static 'js/registro.js'%}"></script>
</body>

{% endblock %}