{% extends "base.html" %}
{% load static %}

{% block title %} Inicio de sesión {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/Registrarse.css' %}" media="screen"> {% endblock %}


{% block content %}

  <body class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-grey-15 u-section-1" id="sec-7702">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Registrarse<br>
        </h1>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-6fb1" class="u-label">Nombre</label>
              <input type="text" placeholder="Introduzca su nombre" id="name-6fb1" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-6fb1" class="u-label">Email</label>
              <input type="email" placeholder="Introduzca una dirección de correo electrónico válida" id="email-6fb1" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-name u-form-group-3">
              <label for="name-03a5" class="u-label">Contraseña</label>
              <input type="text" placeholder="Introduzca su contraseña" id="name-03a5" name="contraseña" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-name u-form-group-4">
              <label for="name-7353" class="u-label">Usuario</label>
              <input type="text" placeholder="Introduzca su usuario" id="name-7353" name="usuario" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-date u-form-group u-form-group-5">
              <label for="date-22ea" class="u-label">Fecha</label>
              <input type="date" placeholder="MM/DD/AAAA" id="date-22ea" name="fechaNacimiento" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-agree u-form-group u-form-group-6">
              <input type="checkbox" id="agree-6ea1" name="agreeTerminos" class="u-agree-checkbox" required="">
              <label for="agree-6ea1" class="u-agree-label u-label">Yo acepto los <a href="#">Términos de servicio</a>
              </label>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="Inicio.html" class="u-border-none u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1">Registrarse<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">Gracias! Has sido registrado.</div>
            <div class="u-form-send-error u-form-send-message">No se ha podido registrar. Por favor, corrija los errores y vuelva a intentarlo.</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="5a57c3d3d9449cb09320b8d8d02e8134">
          </form>
        </div>
      </div>
    </section>
</body>

{% endblock %}