{% extends "base.html" %}
{% load static %}

{% block title %} {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/TipoProducto.css' %}" media="screen"> {% endblock %}


{% block content %}
<body class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-section-1" id="sec-507b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">{% block nomProductos %} {% endblock %}</h1>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-7a01">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    
        {% block productos %} {% endblock %}

      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-2c58">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-base u-radius-2 u-btn-1">Ver más</a>
      </div>
    </section>
</body>
{% endblock %}